.App-header{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
  z-index: 2;
  .App-logo{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .logo{
      width: 100%;
      max-width: 180px;
      height: auto;
    }
  }
  .App-menu{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    .itemsMenu{
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      box-sizing: border-box;
      .item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
        color: #333333;
        padding: 10px 15px;
        .iconItem{
          display: none;
        }
        .nomItem{
          width: 100%;
        }
      }
      .item:hover{
        border-bottom: 3px solid #333333;
      }
    }

    .idiomas{
      width: 13%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0px 10px;
      margin-left:2%;
      box-sizing: border-box;
      .idioma{
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        color: #333333;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        padding: 10px 5px;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 1%;
      }
      .idioma:hover{
        background-color: #2a8daa;
        color: #ffffff;
      }
    }
  }
  .App-buscador{
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .App-actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    border-left: 2px solid #e7e7e7;
    .action{
      width: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
      box-sizing: border-box;
    }
    .action:hover{
      background-color: #2a8daa;
      cursor: pointer;
      svg{
        fill: #ffffff;
      }
    }
    .App-btn-menu{
      width: 10%;
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

/*************** ANIMACION TOGLE BUTTON******************/
.btn-menu{
  position:relative;
  z-index:1111;
  height:35px;
  width:50px;
  padding:0px 0px 0px 5px;
  cursor: pointer;
}

.btn-menu span {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  border-radius: 10px;
}

.btn-menu span, .btn-menu span::before, .btn-menu span::after {
  display: block;
  width: 35px;
  left: 0px;
  height: 3px;
  background-color: #bfbfbf;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.btn-menu span::before, .btn-menu span::after {
  position: absolute;
  content: "";
}
.btn-menu span::before {
  top: -10px;
  width:35px;
  border-radius: 10px;
}
.btn-menu span::after {
  top: 10px;
  width: 35px;
  border-radius: 10px;
}
.btn-menu.clicked span {
  background-color: transparent;
}
.btn-menu.clicked span::before {
  -webkit-transform: translateY(10px) rotate(45deg);
  -moz-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
  width: 35px;
}
.btn-menu.clicked span::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -moz-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.btn-menu.clicked span:before, .menu.clicked span:after {
  background-color: #bfbfbf;
}
.btn-menu:hover {
  cursor: pointer;
}
/*************** FIN ANIMACION TOGLE BUTTON******************/

@media screen and (max-width: 960px){
  .App-header {
    height: auto;
    z-index: 2;
    .App-logo{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 0px 0px 0px 5px;
      .logo{
        width: auto;
        max-height: 30px;
      }
    }
    .App-menu{
      width: 100%;
      position: fixed;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -o-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      height: 100vh;
      background-color: #ffffff;
      z-index: 3;
      top: 80px;
      left:0px;
      align-content: flex-start;
      justify-content: space-around;
      padding: 10px;
      .item{
        width: 48%;
        min-height: 80px;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border: #d2d2d2 1px solid;
        border-radius: 2px;
        margin: 1%;
        .iconItem{
          display: block;
        }
        .nomItem{
          width: 100%;
          margin-top: 5px;
          text-align: center;
          font-size: 0.9rem;
        }
      }
      .idiomas{
        width: 100%;
        padding: 5px;
      }
    }
    .App-menu.show{
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -o-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    .App-buscador{
      width: 50px;
      height: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .buscador{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .App-actions{
      width: 100%;
      height: 40px;
      background-color: #ffffff;
      padding: 0px 0px;
      .action{
        width: 20%;
        cursor: pointer;
        border: 0px;
        svg{
          width: 25px;
        }
      }
      .App-btn-menu {
        width: 20%;
        display: flex;

      }
    }
  }
}